*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background: rgb(61, 59, 142);
  background: linear-gradient(
    0deg,
    rgba(61, 59, 142, 1) 0%,
    rgba(224, 114, 164, 1) 100%
  );
  color: #f9f9f9;
  min-height: 100vh;
}

.header {
  padding: 3rem 0;
  text-align: center;
  color: rgb(61, 59, 142);
}

h1 {
  font-size: 50px;
  font-weight: 600;
}

h2 {
  font-weight: 500;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 100vh;
}

.game-board {
  width: 80%;
  max-width: 992px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  gap: 3rem;
}

.game-board__message {
  height: 150px;
}

.message-image {
  height: 100%;
}

.game-board__computer,
.game-board__user {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.308);
  backdrop-filter: blur(2px);
}

.game-board__computer,
.game-board__user,
.btn-roll {
  box-shadow: 0 0 30px rgba(224, 114, 164, 0.5);
}

.game-board__computer {
  flex-direction: row-reverse;
}

.game-board__computer .dice-container,
.game-board__user .dice-container {
  width: clamp(50px, 10vw, 300px);
}

.dice {
  width: 100%;
  padding-top: 100%;
  position: relative;
  background-color: #f9f9f9;
  border-radius: 1rem;
}

.dice > .dice-content {
  position: absolute;
  inset: 1.3rem;
  display: grid;
  place-items: center;
  gap: 0.6rem;
}

.game-board__computer section,
.game-board__user section {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.game-board__computer section h2,
.game-board__user section h2 {
  flex: 0 0 auto;
}

.game-board__computer section div,
.game-board__user section div {
  flex: 1 0 auto;
  width: 100%;
  display: grid;
  place-items: center;
}

.score {
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
  color: black;
  background-color: #f9f9f9;
  transition: all 0.5s;
}

.game-board__message,
.btn-roll {
  grid-column: 1/-1;
}

.btn-roll {
  font-size: 1.8rem;
  padding: 1rem 2rem;
  border-radius: 1rem;
  border: none;
  background: #e072a4;
  color: rgb(61, 59, 142);
  cursor: pointer;
}

.dot {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.visible {
  background-color: black;
}

.pulsating {
  animation: pulsating 0.5s alternate ease-out infinite;
}

@keyframes pulsating {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
